In [1]:
import numpy as np
import pandas as pd

In [3]:
corporate_treatment = pd.read_csv('corporate_treatment.csv')
treatment_details = pd.read_csv('treatment_with_details.csv')
corporate_treatment

                       Treatment       Standardized Treatment
0                   Consultation                 Consultation
1                        Scaling       Quick clean - scalling
2               Periapical X-Ray                 Caries Xrays
3                 Simple Filling        Minor Fill back teeth
4                      Bleaching  Sparkling smile (In & Out )
5                          Crown                      1 Crown
6                         Bridge           3 Bridge treatment
7  Upper Wisdom Tooth Extraction             Major Extraction
8  Lower Wisdom Tooth Extraction             Major Extraction

In [4]:
# merge the two dataframes, inner join, for corporate_treatment on column Standardized Treatment and for treatment_details on Treatment
merged = pd.merge(corporate_treatment, treatment_details, how='inner', left_on='Standardized Treatment', right_on='Treatment')
merged

,Treatment_x,Standardized Treatment,Treatment_y,total_price_AUD,total_price_IDR,total_cost_AUD,total_cost_IDR,total_duration
0,Consultation,Consultation,Consultation,83.0,260000,25,78000,30.0
1,Scaling,Quick clean - scalling,Quick clean - scalling,83.0,260000,25,78000,30.0
2,Periapical X-Ray,Caries Xrays,Caries Xrays,24.0,120000,8,36000,60.0
3,Simple Filling,Minor Fill back teeth,Minor Fill back teeth,117.0,408000,35,122400,90.0
4,Bleaching,Sparkling smile (In & Out ),Sparkling smile (In & Out ),267.0,833000,80,249900,105.0
5,Crown,1 Crown,1 Crown,1400.0,1544000,420,463200,95.0
6,Bridge,3 Bridge treatment,3 Bridge treatment,3042.0,4004000,912,1201200,200.0
7,Upper Wisdom Tooth Extraction,Major Extraction,Major Extraction,545.0,1683000,164,504900,165.0
8,Lower Wisdom Tooth Extraction,Major Extraction,Major Extraction,545.0,1683000,164,504900,165.0

In [5]:
# TODO: create dataframe with that will effectively has the same format of dsp, treatment_costs, and treatment_prices, but now is for GAIA (in respect of the cost material and the original price we offer, apart from that all the same)

In [6]:
# on merged dataframe, only select Treatment_x and banish Treatment_y and rename to Treatment
merged = merged.drop(columns=['Treatment_y'])
merged = merged.rename(columns={'Treatment_x': 'Treatment'})
merged

,Treatment,Standardized Treatment,total_price_AUD,total_price_IDR,total_cost_AUD,total_cost_IDR,total_duration
0,Consultation,Consultation,83.0,260000,25,78000,30.0
1,Scaling,Quick clean - scalling,83.0,260000,25,78000,30.0
2,Periapical X-Ray,Caries Xrays,24.0,120000,8,36000,60.0
3,Simple Filling,Minor Fill back teeth,117.0,408000,35,122400,90.0
4,Bleaching,Sparkling smile (In & Out ),267.0,833000,80,249900,105.0
5,Crown,1 Crown,1400.0,1544000,420,463200,95.0
6,Bridge,3 Bridge treatment,3042.0,4004000,912,1201200,200.0
7,Upper Wisdom Tooth Extraction,Major Extraction,545.0,1683000,164,504900,165.0
8,Lower Wisdom Tooth Extraction,Major Extraction,545.0,1683000,164,504900,165.0

In [7]:
dsp = pd.read_csv('corporate_wellness_data/dsp.csv')
dsp

,Treatment,Conversion Rate (%),Original Price (Rp.),Discount Price (%),Price (Rp.),Cost Material (Rp.),Duration (Min),Dentist Fee Per Hour (Rp.)
0,Bleaching,20%,2500000,25%,1875000,633333,105,160000
1,Crown,15%,1800000,29.82%,1263158,50000,85,160000
2,Bridge,10%,5400000,29.82%,1263158,50000,200,160000
3,Upper Wisdom Tooth Extraction,25%,1000000,20.00%,800000,32000,165,160000
4,Lower Wisdom Tooth Extraction,25%,1900000,20.00%,1520000,68000,165,160000

In [8]:
# create new dataframe called new_dsp which is a copy of dsp and then replace the data in Original Price (Rp.) from dsp with the data in total_price_IDR from merged where the Treatment in dsp is the same as the Treatment in merged 
new_dsp = dsp.copy()
new_dsp['Original Price (Rp.)'] = new_dsp['Treatment'].map(merged.set_index('Treatment')['total_price_IDR'])
new_dsp['Cost Material (Rp.)'] = new_dsp['Treatment'].map(merged.set_index('Treatment')['total_cost_IDR'])
new_dsp

,Treatment,Conversion Rate (%),Original Price (Rp.),Discount Price (%),Price (Rp.),Cost Material (Rp.),Duration (Min),Dentist Fee Per Hour (Rp.)
0,Bleaching,20%,833000,25%,1875000,249900,105,160000
1,Crown,15%,1544000,29.82%,1263158,463200,85,160000
2,Bridge,10%,4004000,29.82%,1263158,1201200,200,160000
3,Upper Wisdom Tooth Extraction,25%,1683000,20.00%,800000,504900,165,160000
4,Lower Wisdom Tooth Extraction,25%,1683000,20.00%,1520000,504900,165,160000

In [9]:
new_dsp.to_csv('dsp_GAIA_IDR.csv')

In [11]:
employee_wellness_prices = pd.read_csv('corporate_wellness_data/treatment_prices.csv')
employee_wellness_prices

          Treatment  Price (Rp.)
0      Consultation       100000
1           Scaling       200000
2  Periapical X-Ray       200000
3    Simple Filling       200000

In [12]:
new_employee_wellness_prices = employee_wellness_prices.copy()

new_employee_wellness_prices['Price (Rp.)'] = new_employee_wellness_prices['Treatment'].map(merged.set_index('Treatment')['total_price_IDR'])
new_employee_wellness_prices

          Treatment  Price (Rp.)
0      Consultation       260000
1           Scaling       260000
2  Periapical X-Ray       120000
3    Simple Filling       408000

In [13]:
new_employee_wellness_prices.to_csv('treatment_prices_GAIA_IDR.csv')

In [15]:

employee_wellness_costs = pd.read_csv('corporate_wellness_data/treatment_costs.csv')
employee_wellness_costs

,Component,Material Cost (Rp.),Dentist Fee per Hour (Rp.),Duration (Min)
0,Consultation,0,35000,30
1,Scaling,0,35000,30
2,Periapical X-Ray,0,35000,60
3,Simple Filling,59222,35000,120
4,Member Card (monthly),833,0,0

In [18]:
# merge like the previous one, but this time it is 'Material Cost (Rp.) with total_cost_IDR, but 
new_employee_wellness_costs = employee_wellness_costs.copy()
new_employee_wellness_costs = new_employee_wellness_costs.rename(columns={'Component': 'Treatment'})
new_employee_wellness_costs['Material Cost (Rp.)'] = new_employee_wellness_costs['Treatment'].map(merged.set_index('Treatment')['total_cost_IDR'])
new_employee_wellness_costs

,Treatment,Material Cost (Rp.),Dentist Fee per Hour (Rp.),Duration (Min)
0,Consultation,78000.0,35000,30
1,Scaling,78000.0,35000,30
2,Periapical X-Ray,36000.0,35000,60
3,Simple Filling,122400.0,35000,120
4,Member Card (monthly),NaN,0,0

In [19]:
# change the value of fifth row, second column to be 833
new_employee_wellness_costs.iat[4, 1] = 833
new_employee_wellness_costs

,Treatment,Material Cost (Rp.),Dentist Fee per Hour (Rp.),Duration (Min)
0,Consultation,78000.0,35000,30
1,Scaling,78000.0,35000,30
2,Periapical X-Ray,36000.0,35000,60
3,Simple Filling,122400.0,35000,120
4,Member Card (monthly),833.0,0,0

In [21]:
new_employee_wellness_costs = new_employee_wellness_costs.rename(columns={'Treatment': 'Component'})

In [22]:
new_employee_wellness_costs.to_csv('treatment_costs_GAIA_IDR.csv')

### School Outreach

In [12]:
import pandas as pd
import numpy as np

In [13]:
school_outreach_prices = pd.read_csv('school_outreach_data/treatment_prices_new.csv')
school_treatment = pd.read_csv('school_treatment.csv')
treatment_details = pd.read_csv('treatment_with_details.csv')

In [14]:
school_merged = pd.merge(
    school_treatment.assign(lower_treatment=school_treatment['Standardized Treatment'].str.lower()),
    treatment_details.assign(lower_treatment=treatment_details['Treatment'].str.lower()),
    how='left',
    left_on='lower_treatment',
    right_on='lower_treatment'
).drop(columns=['lower_treatment'])

school_merged

,Treatment_x,Standardized Treatment,Category,Treatment_y,total_price_AUD,total_price_IDR,total_cost_AUD,total_cost_IDR,total_duration
0,Consultation,Consultation,Student,Consultation,83.0,260000,25,78000,30.0
1,Periapical X-Ray,Caries Xrays,Student,Caries Xrays,24.0,120000,8,36000,60.0
2,Filling,Minor Fill Back Teeth,Student,Minor Fill back teeth,117.0,408000,35,122400,90.0
3,Scaling,Quick Clean - Scalling,Student,Quick clean - scalling,83.0,260000,25,78000,30.0
4,Dental Sealants,Prevention Seal package,Student,Prevention Seal package,120.0,450000,35,135000,75.0
5,Consultation,Consultation,Parent,Consultation,83.0,260000,25,78000,30.0
6,Periapical X-Ray,Caries Xrays,Parent,Caries Xrays,24.0,120000,8,36000,60.0
7,Scaling,Quick Clean - Scalling,Parent,Quick clean - scalling,83.0,260000,25,78000,30.0
8,Gum Surgery,Gingivectomy - per tooth,Parent,Gingivectomy - per tooth,110.0,373000,33,111900,90.0
9,Tooth Extraction,Medium Extraction,Parent,Medium Extraction,334.0,1063000,100,318900,120.0
10,Bleaching,Sparkling Smile (In & Out),Parent,Sparkling Smile (In & Out),267.0,833000,80,249900,105.0
11,Crown,1 Crown,Parent,1 Crown,1400.0,1544000,420,463200,95.0
12,Bridge,3 Bridge Treatment,Parent,3 Bridge treatment,3042.0,4004000,912,1201200,200.0

In [15]:
# drop treatment y, and rename treatment x toTtreatment 
school_merged = school_merged.drop(columns=['Treatment_y'])
school_merged = school_merged.rename(columns={'Treatment_x': 'Treatment'})
print(school_merged)

           Treatment      Standardized Treatment Category  total_price_AUD  \
0       Consultation                Consultation  Student             83.0
1   Periapical X-Ray                Caries Xrays  Student             24.0
2            Filling       Minor Fill Back Teeth  Student            117.0
3            Scaling      Quick Clean - Scalling  Student             83.0
4    Dental Sealants     Prevention Seal package  Student            120.0
5       Consultation                Consultation   Parent             83.0
6   Periapical X-Ray                Caries Xrays   Parent             24.0
7            Scaling      Quick Clean - Scalling   Parent             83.0
8        Gum Surgery    Gingivectomy - per tooth   Parent            110.0
9   Tooth Extraction           Medium Extraction   Parent            334.0
10         Bleaching  Sparkling Smile (In & Out)   Parent            267.0
11             Crown                     1 Crown   Parent           1400.0
12            Bridge          3 Bridge Treatment   Parent           3042.0

    total_price_IDR  total_cost_AUD  total_cost_IDR  total_duration
0            260000              25           78000            30.0
1            120000               8           36000            60.0
2            408000              35          122400            90.0
3            260000              25           78000            30.0
4            450000              35          135000            75.0
5            260000              25           78000            30.0
6            120000               8           36000            60.0
7            260000              25           78000            30.0
8            373000              33          111900            90.0
9           1063000             100          318900           120.0
10           833000              80          249900           105.0
11          1544000             420          463200            95.0
12          4004000             912         1201200           200.0

In [16]:
school_prices = pd.read_csv('school_outreach_data/treatment_prices_new.csv')
school_prices

,Treatment,Category,Original Price (Rp.),Unit of Measure,Dentist Fee (Rp.),Cost Material (Rp.)
0,Consultation,Student,100000,NaN,100000,0
1,Periapical X-Ray,Student,200000,Per exposed,200000,0
2,Filling,Student,200000,Per tooth,200000,59222
3,Scaling,Student,200000,All tooth,200000,0
4,Dental Sealants,Student,500000,All tooth,500000,40000
5,Consultation,Parent,100000,NaN,100000,0
6,Periapical X-Ray,Parent,200000,Per exposed,200000,0
7,Scaling,Parent,200000,All tooth,200000,0
8,Gum Surgery,Parent,400000,Per tooth,400000,69479
9,Tooth Extraction,Parent,400000,Per tooth,400000,41479
10,Bleaching,Parent,2500000,All tooth,2500000,633333
11,Crown,Parent,1800000,Per tooth,1800000,50000
12,Bridge,Parent,1800000,Per tooth,1800000,50000

In [17]:
school_prices_gaia_IDR = school_prices.copy()

print(school_prices)

           Treatment Category  Original Price (Rp.) Unit of Measure  \
0      Consultation   Student                100000             NaN
1   Periapical X-Ray  Student                200000     Per exposed
2            Filling  Student                200000       Per tooth
3            Scaling  Student                200000       All tooth
4    Dental Sealants  Student                500000       All tooth
5      Consultation    Parent                100000             NaN
6   Periapical X-Ray   Parent                200000     Per exposed
7            Scaling   Parent                200000       All tooth
8        Gum Surgery   Parent                400000       Per tooth
9   Tooth Extraction   Parent                400000       Per tooth
10         Bleaching   Parent               2500000       All tooth
11             Crown   Parent               1800000       Per tooth
12            Bridge   Parent               1800000       Per tooth

    Dentist Fee (Rp.)  Cost Material (Rp.)
0              100000                    0
1              200000                    0
2              200000                59222
3              200000                    0
4              500000                40000
5              100000                    0
6              200000                    0
7              200000                    0
8              400000                69479
9              400000                41479
10            2500000               633333
11            1800000                50000
12            1800000                50000

In [18]:
# Save the original case of 'Treatment' and 'Category' columns
school_prices_gaia_IDR['Original_Treatment'] = school_prices_gaia_IDR['Treatment']
school_prices_gaia_IDR['Original_Category'] = school_prices_gaia_IDR['Category']

school_merged['Original_Treatment'] = school_merged['Treatment']
school_merged['Original_Category'] = school_merged['Category']

# Ensure consistent formatting for 'Treatment' and 'Category' in both DataFrames (lowercase and stripped)
school_prices_gaia_IDR['Treatment'] = school_prices_gaia_IDR['Treatment'].str.strip().str.lower()
school_prices_gaia_IDR['Category'] = school_prices_gaia_IDR['Category'].str.strip().str.lower()

school_merged['Treatment'] = school_merged['Treatment'].str.strip().str.lower()
school_merged['Category'] = school_merged['Category'].str.strip().str.lower()

# Create combined keys in both DataFrames after formatting
school_prices_gaia_IDR['Treatment_Category'] = school_prices_gaia_IDR['Treatment'] + '_' + school_prices_gaia_IDR['Category']
school_merged['Treatment_Category'] = school_merged['Treatment'] + '_' + school_merged['Category']

# Perform the mapping using the combined key
school_prices_gaia_IDR['Original Price (Rp.)'] = school_prices_gaia_IDR['Treatment_Category'].map(school_merged.set_index('Treatment_Category')['total_price_IDR'])
school_prices_gaia_IDR['Cost Material (Rp.)'] = school_prices_gaia_IDR['Treatment_Category'].map(school_merged.set_index('Treatment_Category')['total_cost_IDR'])
school_prices_gaia_IDR['total_duration'] = school_prices_gaia_IDR['Treatment_Category'].map(school_merged.set_index('Treatment_Category')['total_duration'])

# Restore the original case for 'Treatment' and 'Category' from the saved columns
school_prices_gaia_IDR['Treatment'] = school_prices_gaia_IDR['Original_Treatment']
school_prices_gaia_IDR['Category'] = school_prices_gaia_IDR['Original_Category']

school_merged['Treatment'] = school_merged['Original_Treatment']
school_merged['Category'] = school_merged['Original_Category']

# Drop the temporary columns if no longer needed
school_prices_gaia_IDR.drop(columns=['Treatment_Category', 'Original_Treatment', 'Original_Category'], inplace=True)
school_merged.drop(columns=['Treatment_Category', 'Original_Treatment', 'Original_Category'], inplace=True)

In [19]:
school_merged

,Treatment,Standardized Treatment,Category,total_price_AUD,total_price_IDR,total_cost_AUD,total_cost_IDR,total_duration
0,Consultation,Consultation,Student,83.0,260000,25,78000,30.0
1,Periapical X-Ray,Caries Xrays,Student,24.0,120000,8,36000,60.0
2,Filling,Minor Fill Back Teeth,Student,117.0,408000,35,122400,90.0
3,Scaling,Quick Clean - Scalling,Student,83.0,260000,25,78000,30.0
4,Dental Sealants,Prevention Seal package,Student,120.0,450000,35,135000,75.0
5,Consultation,Consultation,Parent,83.0,260000,25,78000,30.0
6,Periapical X-Ray,Caries Xrays,Parent,24.0,120000,8,36000,60.0
7,Scaling,Quick Clean - Scalling,Parent,83.0,260000,25,78000,30.0
8,Gum Surgery,Gingivectomy - per tooth,Parent,110.0,373000,33,111900,90.0
9,Tooth Extraction,Medium Extraction,Parent,334.0,1063000,100,318900,120.0
10,Bleaching,Sparkling Smile (In & Out),Parent,267.0,833000,80,249900,105.0
11,Crown,1 Crown,Parent,1400.0,1544000,420,463200,95.0
12,Bridge,3 Bridge Treatment,Parent,3042.0,4004000,912,1201200,200.0

In [20]:
school_prices_gaia_IDR

,Treatment,Category,Original Price (Rp.),Unit of Measure,Dentist Fee (Rp.),Cost Material (Rp.),total_duration
0,Consultation,Student,260000,NaN,100000,78000,30.0
1,Periapical X-Ray,Student,120000,Per exposed,200000,36000,60.0
2,Filling,Student,408000,Per tooth,200000,122400,90.0
3,Scaling,Student,260000,All tooth,200000,78000,30.0
4,Dental Sealants,Student,450000,All tooth,500000,135000,75.0
5,Consultation,Parent,260000,NaN,100000,78000,30.0
6,Periapical X-Ray,Parent,120000,Per exposed,200000,36000,60.0
7,Scaling,Parent,260000,All tooth,200000,78000,30.0
8,Gum Surgery,Parent,373000,Per tooth,400000,111900,90.0
9,Tooth Extraction,Parent,1063000,Per tooth,400000,318900,120.0
10,Bleaching,Parent,833000,All tooth,2500000,249900,105.0
11,Crown,Parent,1544000,Per tooth,1800000,463200,95.0
12,Bridge,Parent,4004000,Per tooth,1800000,1201200,200.0

In [21]:
school_prices_gaia_IDR.to_csv('school_outreach_data/treatment_prices_GAIA_IDR.csv')

In [24]:
school_prices = pd.read_csv('school_outreach_data/treatment_prices_new.csv')

# Ensure Treatment has unique values by taking the first occurrence
school_prices_gaia_IDR_unique = school_prices_gaia_IDR.groupby('Treatment').first().reset_index()

# Now perform the mapping
school_prices['total_duration'] = school_prices['Treatment'].map(school_prices_gaia_IDR_unique.set_index('Treatment')['total_duration'])
school_prices

,Treatment,Category,Original Price (Rp.),Unit of Measure,Dentist Fee (Rp.),Cost Material (Rp.),total_duration
0,Consultation,Student,100000,NaN,100000,0,30.0
1,Periapical X-Ray,Student,200000,Per exposed,200000,0,60.0
2,Filling,Student,200000,Per tooth,200000,59222,90.0
3,Scaling,Student,200000,All tooth,200000,0,30.0
4,Dental Sealants,Student,500000,All tooth,500000,40000,75.0
5,Consultation,Parent,100000,NaN,100000,0,30.0
6,Periapical X-Ray,Parent,200000,Per exposed,200000,0,60.0
7,Scaling,Parent,200000,All tooth,200000,0,30.0
8,Gum Surgery,Parent,400000,Per tooth,400000,69479,90.0
9,Tooth Extraction,Parent,400000,Per tooth,400000,41479,120.0
10,Bleaching,Parent,2500000,All tooth,2500000,633333,105.0
11,Crown,Parent,1800000,Per tooth,1800000,50000,95.0
12,Bridge,Parent,1800000,Per tooth,1800000,50000,200.0

In [25]:
school_prices.to_csv('school_outreach_data/treatment_prices_new.csv')

### Dentist Fee per Hour

In [28]:
# in school_prices, make list out of the 'Treatment' column
school_prices = pd.read_csv('school_outreach_data/treatment_prices_new.csv')
treatment_list = school_prices['Treatment'].tolist()
treatment_list

['Consultation ',
 'Periapical X-Ray',
 'Filling',
 'Scaling',
 'Dental Sealants',
 'Consultation ',
 'Periapical X-Ray',
 'Scaling',
 'Gum Surgery',
 'Tooth Extraction',
 'Bleaching',
 'Crown',
 'Bridge']

In [29]:
# from treatment_list create a dataframe called 'Dentist Fee per Hour' and please add this value rule: if it is consultation, periapical x-ray, filling, scalling then it is 35000 else it will be 160000
Dentist_Fee_per_Hour = pd.DataFrame(treatment_list, columns=['Treatment'])
Dentist_Fee_per_Hour['Dentist Fee per Hour'] = np.where(Dentist_Fee_per_Hour['Treatment'].isin(['Consultation', 'Periapical X-Ray', 'Filling', 'Scaling']), 35000, 160000)
Dentist_Fee_per_Hour

           Treatment  Dentist Fee per Hour
0      Consultation                 160000
1   Periapical X-Ray                 35000
2            Filling                 35000
3            Scaling                 35000
4    Dental Sealants                160000
5      Consultation                 160000
6   Periapical X-Ray                 35000
7            Scaling                 35000
8        Gum Surgery                160000
9   Tooth Extraction                160000
10         Bleaching                160000
11             Crown                160000
12            Bridge                160000

In [31]:
# now load the school_outreach_data/treatment_prices_GAIA_IDR.csv
school_prices_gaia_IDR = pd.read_csv('school_outreach_data/treatment_prices_GAIA_IDR.csv')

Dentist_Fee_per_Hour_unique = Dentist_Fee_per_Hour.groupby('Treatment').first().reset_index()

# now add column 'Dentist Fee per Hour' to school_prices_gaia_IDR
school_prices_gaia_IDR['Dentist Fee per Hour'] = school_prices_gaia_IDR['Treatment'].map(Dentist_Fee_per_Hour_unique.set_index('Treatment')['Dentist Fee per Hour'])

In [32]:
# do the same as above for 'school_outreach_data/treatment_prices_new.csv' 
school_prices = pd.read_csv('school_outreach_data/treatment_prices_new.csv')
school_prices['Dentist Fee per Hour'] = school_prices['Treatment'].map(Dentist_Fee_per_Hour_unique.set_index('Treatment')['Dentist Fee per Hour'])

In [35]:
school_prices.drop(columns=['Unnamed: 0'], inplace=True)
school_prices_gaia_IDR.drop(columns=['Unnamed: 0'], inplace=True)

In [39]:
# remove the index column
school_prices.to_csv('school_outreach_data/treatment_prices_new.csv', index=False)
school_prices_gaia_IDR.to_csv('school_outreach_data/treatment_prices_GAIA_IDR.csv', index=False)

In [40]:
# open school_outreach_data/package_list.csv and then duplicate column called Conversion Rate (%) as Conversion Rate Single (%) and Conversion Rate Family (%) and then delete the original Conversion Rate (%) 
package_list = pd.read_csv('school_outreach_data/package_list.csv')
package_list['Conversion Rate Single (%)'] = package_list['Conversion Rate (%)']
package_list['Conversion Rate Family (%)'] = package_list['Conversion Rate (%)']
package_list.drop(columns=['Conversion Rate (%)'], inplace=True)
package_list.to_csv('school_outreach_data/package_list.csv', index=False)

In [1]:
import pandas as pd
import numpy as np
import random

In [4]:
denominator = 100
random_volumes = np.random.randint(1, denominator, size=11)
random_volumes

array([51, 42, 19, 53, 91, 24, 38, 89,  5, 10,  6])

In [5]:
random_volumes.sum()

428

In [7]:
final_volume = max(denominator - np.sum(random_volumes), 1)
final_volume

1

In [8]:
# Append the final volume
volumes = np.append(random_volumes, final_volume)
volumes

array([51, 42, 19, 53, 91, 24, 38, 89,  5, 10,  6,  1])

In [11]:

# Scale the volumes to ensure they sum up to the exact total
volumes = volumes / np.sum(volumes) * denominator
volumes

array([11.88811189,  9.79020979,  4.42890443, 12.35431235, 21.21212121,
        5.59440559,  8.85780886, 20.74592075,  1.16550117,  2.33100233,
        1.3986014 ,  0.23310023])